<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liuqiao.thumb.mapper.ThumbMapper">

    <resultMap id="BaseResultMap" type="top.liuqiao.thumb.model.entity.Thumb">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="itemId" column="item_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,item_id,user_id,
        create_time,is_delete
    </sql>
    <insert id="addThumb">

        INSERT INTO thumb.t_thumb (id, item_id, user_id)
        VALUES (#{id}, #{itemId}, #{userId});

    </insert>

    <insert id="addBatchThumb">
        INSERT INTO thumb.t_thumb (id, item_id, user_id)
        VALUES
        <foreach collection="thumbList" item="thumb" separator=",">
            (#{thumb.id}, #{thumb.itemId}, #{thumb.userId})
        </foreach>
    </insert>
    <delete id="batchDeleteByUidBids">
        DELETE FROM thumb.t_thumb
        WHERE (item_id, user_id) IN (
        <foreach collection="dbidList" index="i" item="dbid" open="(" close=")" separator=",">
            (#{dbid}, #{duidList[${i}]})
        </foreach>
        )
    </delete>
    <select id="getUserThumb" resultType="top.liuqiao.thumb.model.entity.Thumb">
        SELECT item_id
        FROM thumb.t_thumb
        WHERE user_id = #{userId} and t_thumb.item_id IN
        <foreach collection="bidList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="batchSelectNotExist" resultType="java.lang.Long">

        SELECT tmp.id FROM (
        <foreach collection="bidSet" item="id" open="(" separator="UNION ALL" close=")">
            SELECT #{id} AS id
        </foreach>
        ) tmp
        LEFT JOIN thumb.t_thumb t ON tmp.id = t.item_id
        WHERE t.item_id IS NULL
    </select>
</mapper>
